@import "tailwindcss";

:root {
  --background: #E5E7FA;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E5E7FA;/*#0a0a0a;*/
    --foreground: #0a0a0a;/*#ededed;*/
  }
}

@layer utilities {
  .background {
    background-color: var(--background) ;
  }
}
  

body {
 /* background: url('/bgimg.png');*/
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}
